@mixin flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
}

.search-container {
  @include flexbox();
  height: 14rem;
  background: brown;
}

.search-form {
  display: flex;
  height: 2.6rem;
  width: 30rem;
  & .text-input {
    font-size: 1.6rem;
    padding: 6px;
    border: 0;
    border-radius: 3px;
    width: 90%;
  }
  & .form-submit {
    width: 9%;
    font-size: 1.2rem;
    background: black;
    border: none;
    color: white;
  }
}

.results-container {
  height: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, 23rem);
  grid-gap: 7em; 
  justify-content: center;
  overflow: scroll;
  background: cadetblue;
}

.results-wrap {
  display: contents;
  height: 32rem;
  width: auto;
  background: cornflowerblue;
}

.thumbnail {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
}